.card{
    max-width: 500px;
    margin: 0 auto;
    padding: 1.5em;
    background: linear-gradient(180deg, rgba(252, 252, 252, 0.185) 0%, rgba(252, 252, 252, 0.185) 100%);
    border-radius:50px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    -ms-border-radius:50px;
    -o-border-radius:50px;
}
.card > p{
    font-size:1.7em;
    color: rgb(255, 255, 255);
}