.Planet {
    margin:0 auto;
    max-width:512px;
    margin-top:20px;
    position: relative;
    height:270px;
    border-radius: 60% 60% 0 0;
    overflow:hidden;
  }
  
  .content {
    z-index: 1;
    position: relative;
    bottom: -210px;

    font-family: 'Arial';
    color:black;
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: auto;
  }