.Footer {
    max-width:500px;
    border-radius: 60% 60% 0 0;
    overflow:hidden;
    margin: 0 auto;
  }
  .content{
    position: relative;
  }
  .author {
    color:black;
    position: absolute;
    bottom: 0.5em;
    right: 0px;
    left: 0px;
  }
  
  .planet {
    width: 100%;
  }