*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Digital';
  src: url('./assets/DS-DIGI.TTF') format('truetype');
}
body {
  font-family: "Digital", "Digital Numbers", Avenir, Helvetica, Arial, sans-serif;
  background-image: url('./assets/backgrounds/background1.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  text-align: center;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  color: #ffffffde;
  text-shadow: 0px 4px 6px #9F84C5;
  font-synthesis: none;
}

