:root {
  
}
@font-face {
  font-family: 'Digital';
  src: url('./assets/DS-DIGI.TTF') format('truetype');
}
body {
  font-family: "Digital", "Digital Numbers", Avenir, Helvetica, Arial, sans-serif;
  background-image: url('./assets/backgrounds/background1.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

h1 {
  font-size: 3.2em;
  color: #ffffffde;
  font-synthesis: none;
}

